<%= form_for @game do |f| %>

  <div class="control-group <%= "error" if @game.errors.any? %>">
    <%= f.label :sport_id, 'Sport', :class => 'control-label' %>
    <div class='controls'>
      <%= f.select :sport_id, options_from_collection_for_select(Sport.all, :id, :name, @game.sport.try(:id)), {:include_blank => true}, {:class => 'input-xlarge' } %>
    </div>
  </div>

  <div class="control-group <%= "error" if @game.errors.any? %>">
    <%= f.label :location, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :location, :class => 'input-xlarge' %>
    </div>
  </div>

  <div class="control-group <%= "error" if @game.errors.any? %>">
    <%= f.label :at, :class => 'control-label' %>
    <div class='controls'>
      <%= f.datetime_select "at",{}, :class => 'input-small' %>
    </div>
  </div>

  <div class="control-group <%= "error" if @game.errors.any? %>">
    <%= f.label :players, :class => 'control-label' %>
    <div class='controls' id="players">
		<% current_user.players.each do |player| %>
		 <%= check_box_tag "game[player_ids][]", player.id, @game.players.include?(player), :id => "game_player_id_#{player.id}" %> <%= player.email %><br/>
	    <% end %>
    </div>
  </div>

  <div class="control-group <%= "error" if @game.errors.any? %>">
    <%= f.label :players_not_on_stinky_trainers, :class => 'control-label' %>
    <div class='controls' id="external_players">
  		<% current_user.external_players.each do |external_player| %>
			<%= check_box_tag "game[external_player_ids][]", external_player.id, @game.external_players.include?(external_player), :id => "game_external_player_id_#{external_player.id}" %> <%= external_player.email %><br/>
  		<% end %>
    </div>
  </div>

  <div class="control-group <%= "error" if @game.errors.any? %>">
    <%= f.label :more_players, :class => 'control-label' %>
    <div class='controls'>
      <%= text_field_tag :more_players, 'email', :class => 'input-xlarge' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit @game.new_record? ? 'Create Game' : 'Update Game', :class => 'btn btn-primary' %>
    <%= link_to 'Back', games_path, :class => 'btn' %>
  </div>

<% end %>