<h1>Games#index</h1>

<h2>Game I have created</h2>
<table id="owned_games">
	<% @owned_games.each do |game| %>
	<tr data-row='game_<%= game.id %>'>
		<td><%= game.sport.name %></td>
		<td><%= game.location %></td>
		<td><%= game.at %></td>
	</tr>
	<% end %>
</table>

<h2>Game I am playing</h2>
<table id="games">
	<% @games.each do |game| %>
	<tr data-row='game_<%= game.id %>'>
		<td><%= game.sport.name %></td>
		<td><%= game.location %></td>
		<td><%= game.at %></td>
	</tr>
	<% end %>
</table>

<%= link_to 'New Game', new_game_path, :class => 'btn btn-primary' %>
