
<div class="well sidebar-nav">
  <h4>Index</h4>
  <!--<ul class="nav nav-list">
    <li class="nav-header">Get redy to roll</li>
    <li><%= link_to "Install Ruby", "#"  %></li>
    <li><%= link_to "Install RVM", "#"  %></li>
    <li><%= link_to "Install RBenv", "#"  %></li>
    <li><%= link_to "Install bundle and rails gems", "#"  %></li>
  </ul>-->
  <ul class="nav nav-list">
    <li class="nav-header">Building Application</li>
    <li><%= link_to "1. Stinky Trainers", "/rails-tutorial/1-setting-up-the-application.html"  %></li>
    <li><%= link_to "2. Create the home page", "/rails-tutorial/2-create-the-home-page.html"  %></li>
    <li><%= link_to "3. Create the Dashboard Page", "/rails-tutorial/3-create-the-dashboard-view.html"  %></li>
    <li><%= link_to "4. Secure the dashboard", "/rails-tutorial/4-secure-the-dashboard-view.html"  %></li>
    <li><%= link_to "5. Create the Sports Model", "/rails-tutorial/5-create-the-sport-model.html"  %></li>
    <li><%= link_to "", "/rails-tutorial/6-create-the-sports-controller.html"  %></li>
  </ul>
</div><!--/.well -->
        